Repository Workbench-Team/space-station-14, pull requests merged in 2022-12, with the labels that each got.

#4 bruh
  Resources/Audio/Voice/Moth/license.txt
  Resources/Audio/Voice/Moth/scream_moth.ogg
  Resources/Locale/en-US/markings/moth.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Locale/ru-RU/markings/moth.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Prototypes/Body/Parts/moth.yml
  Resources/Prototypes/Body/Prototypes/moth.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Textures/Mobs/Customization/eyes.rsi/meta.json
  Resources/Textures/Mobs/Customization/eyes.rsi/moth_eyes.png
  Resources/Textures/Mobs/Customization/moth_parts.rsi/antenna_default.png
  Resources/Textures/Mobs/Customization/moth_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/moth_parts.rsi/moth_antenna.png
  Resources/Textures/Mobs/Customization/moth_parts.rsi/moth_markings.png
  Resources/Textures/Mobs/Customization/moth_parts.rsi/moth_wings.png
  Resources/Textures/Mobs/Customization/moth_parts.rsi/stan.png
  Resources/Textures/Mobs/Customization/moth_wings.rsi/default.png
  Resources/Textures/Mobs/Customization/moth_wings.rsi/look1.png
  Resources/Textures/Mobs/Customization/moth_wings.rsi/look2.png
  Resources/Textures/Mobs/Customization/moth_wings.rsi/look3.png
  Resources/Textures/Mobs/Customization/moth_wings.rsi/meta.json
  Resources/Textures/Mobs/Species/Moth/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/icon.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Moth/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/torso_m.png
Labels: Changes: Sprites, No C#

#3 Фелиниды
  Content.Server/AruMoon/WoundLicking/WoundLickingComponent.cs
  Content.Server/AruMoon/WoundLicking/WoundLickingSystem.cs
  Content.Server/Chemistry/ReagentEffects/CancelDoAfters.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Climbing/Components/ClimbableComponent.cs
  Content.Server/Climbing/Components/ClimbingComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Flash/Components/FlashComponent.cs
  Content.Server/Flash/Components/FlashOnTriggerComponent.cs
  Content.Server/Flash/Components/FlashableComponent.cs
  Content.Server/Flash/FlashSystem.cs
  Resources/Locale/en-US/actions/actions/lick-wounds.ftl
  Resources/Locale/en-US/markings/cat.ftl
  Resources/Locale/en-US/markings/felinid.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Locale/ru-RU/actions/actions/lick-wounds.ftl
  Resources/Locale/ru-RU/markings/cat.ftl
  Resources/Locale/ru-RU/markings/felinid.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/felinid.ftl
  Resources/Prototypes/Actions/felinid.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/biomass_reclaimer.yml
  Resources/Prototypes/Species/felinid.yml
  Resources/Prototypes/Species/human.yml
  Resources/Textures/Mobs/Customization/cat_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/felinid.rsi/ears_default_inner.png
  Resources/Textures/Mobs/Customization/felinid.rsi/ears_default_outer.png
  Resources/Textures/Mobs/Customization/felinid.rsi/ears_static_inner.png
  Resources/Textures/Mobs/Customization/felinid.rsi/ears_static_outer.png
  Resources/Textures/Mobs/Customization/felinid.rsi/meta.json
  Resources/Textures/Mobs/Customization/felinid.rsi/tail_default.png
  Resources/Textures/Mobs/Customization/felinid.rsi/tail_static.png
Labels: enhancement, Changes: Sprites

#9 Reduced volume for dumplings sounds
  Resources/Audio/Items/Toys/pelmeni.ogg
  Resources/Audio/Items/Toys/pelmeni1.ogg
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: No C#

#12 Магазины патронов в фабрикаторе СБ
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#14 Added flash light to cap's hardsuit helmet
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
Labels: Changes: Sprites, No C#

#17 Fixed bug with Weapon fabricator, when it got unpinned with wrench it changes color from red to orange
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#19 Added dump ability to pills container
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#22 Added craft for a mining drill
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: No C#

#29 Add gravitation generator to cargo
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-shuttle.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-shuttle.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
Labels: No C#

#27 MiniJoke)
  Resources/Prototypes/Entities/Objects/Fun/AruPlushie/hmgsCap.yml
Labels: No C#

#36 Голопроекторы почти как на tgstation
  Content.Server/Holosign/HolosignBarrierComponent.cs
  Content.Server/Holosign/HolosignBarrierMedicalComponent.cs
  Content.Server/Holosign/HolosignBarrierMedicalSystem.cs
  Content.Server/Holosign/HolosignBarrierSystem.cs
  Content.Server/Holosign/HolosignProjectorComponent.cs
  Content.Server/Holosign/HolosignSystem.cs
  Resources/Locale/en-US/holoprojector/holoprojector-component.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/holographic/projections.ftl
  Resources/Locale/ru-RU/holoprojector/holoprojector-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/holographic/projections.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Textures/Objects/Devices/Holoprojectors/atmos.rsi/icon.png
  Resources/Textures/Objects/Devices/Holoprojectors/engineer.rsi/icon.png
  Resources/Textures/Objects/Devices/Holoprojectors/engineer.rsi/meta.json
  Resources/Textures/Objects/Devices/Holoprojectors/med.rsi/icon.png
  Resources/Textures/Objects/Devices/Holoprojectors/med.rsi/meta.json
  Resources/Textures/Objects/Devices/Holoprojectors/sec.rsi/icon.png
  Resources/Textures/Objects/Devices/Holoprojectors/sec.rsi/meta.json
  Resources/Textures/Structures/Holo/atmos_tram.rsi/icon.png
  Resources/Textures/Structures/Holo/atmos_tram.rsi/meta.json
  Resources/Textures/Structures/Holo/engi.rsi/icon.png
  Resources/Textures/Structures/Holo/engi.rsi/meta.json
  Resources/Textures/Structures/Holo/penlite.rsi/deny.png
  Resources/Textures/Structures/Holo/penlite.rsi/icon.png
  Resources/Textures/Structures/Holo/penlite.rsi/meta.json
  Resources/Textures/Structures/Holo/sec.rsi/icon.png
  Resources/Textures/Structures/Holo/sec.rsi/meta.json
Labels: Changes: Sprites

#39 Добавлена новая песня в плейлист лобби
  Resources/Audio/Lobby/we_will_fly.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#38 Iaa backpack
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Textures/Clothing/Back/Backpacks/iaa.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/iaa.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/iaa.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/iaa.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/iaa.rsi/meta.json
Labels: Changes: Sprites, No C#
