Repository Workbench-Team/space-station-14, pull requests merged in 2023-07, with the labels that each got.

#189 TG-zation: Nukieplanet & Infiltrator
  Resources/Maps/infiltrator.yml
  Resources/Maps/nukieplanet.yml
Labels: Status: Needs Review, No C#, Changes: Map

#190 ERT resprites (again)
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertsecurity.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertsecurity.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertleader.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: Sprites, No C#

#193 ПИВО. Пивная кега ТГ
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/en-US/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/WorkbenchTeam/Entities/Objects/Structure/beerkeg.yml
  Resources/Textures/Structures/Storage/beerkeg.rsi/beerkeg.png
  Resources/Textures/Structures/Storage/beerkeg.rsi/meta.json
Labels: Changes: Sprites, No C#

#194 Moth fixes + Moth creampie texture
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Textures/Effects/creampie.rsi/creampie_moth.png
  Resources/Textures/Effects/creampie.rsi/meta.json
Labels: Changes: Sprites, No C#

#195 Вантуз можно одеть на голову
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/plunger-equipped-MASK.png
Labels: Changes: Sprites, No C#

#196 minor sprite changes
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertsecurity.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/meta.json
Labels: Changes: Sprites, No C#

#199 Syndie door fix
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#

#201 telescopic baton 1984
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: No C#

#198 CE & Atmos fix
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#204 heads items update
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/tablets/tablets.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Specific/Tablets/cargo_pda.yml
  Resources/Textures/Clothing/Head/Hardsuits/kmsuit.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/kmsuit.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/kmsuit.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/kmsuit.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/kmsuit.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/kmsuit.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/kmsuit.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/kmsuit.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/kmsuit.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/kmsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/kmsuit.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/kmsuit.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/kmsuit.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/kmsuit.rsi/meta.json
  Resources/Textures/Objects/Specific/Tablets/cargo.rsi/icon.png
  Resources/Textures/Objects/Specific/Tablets/cargo.rsi/meta.json
  Resources/Textures/Objects/Specific/Tablets/intercom.rsi/icon.png
  Resources/Textures/Objects/Specific/Tablets/intercom.rsi/meta.json
  Resources/Textures/Objects/Specific/Tablets/rnd.rsi/icon.png
  Resources/Textures/Objects/Specific/Tablets/rnd.rsi/meta.json
  Resources/Textures/Objects/Specific/Tablets/solar.rsi/icon.png
  Resources/Textures/Objects/Specific/Tablets/solar.rsi/meta.json
Labels: Changes: Sprites, No C#

#205 nitrium fix
  Resources/Prototypes/Reagents/gases.yml
Labels: No C#

#208 big salvage and miners update
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/Weapons/Guns/Gunshots/plasma_cutter.ogg
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/salvage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/cargo/cargo_pallet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/salvage/ore_bag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/luxpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/luxpen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag_bluespace.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_bluespace.rsi/icon.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_bluespace.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_bluespace.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_bluespace.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/dna.png
  Resources/Textures/Objects/Storage/boxes.rsi/heart_black.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/cutter.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cutter.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cutter.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cutter.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/cutteradv.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cutteradv.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cutteradv.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cutteradv.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles.rsi/scatterlaser.png
  Resources/Textures/Objects/Weapons/Melee/katana_cursed.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/katana_cursed.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/katana_cursed.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/katana_cursed.rsi/katana-shard.png
  Resources/Textures/Objects/Weapons/Melee/katana_cursed.rsi/meta.json
Labels: Changes: Sprites
