Repository Workbench-Team/space-station-14, pull requests merged in 2023-04, with the labels that each got.

#118 marble captain's fax
  Resources/Maps/marble.yml
Labels: No C#, Changes: Map

#120 New map Travertine
  Resources/Maps/travertine.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/travertine.yml
Labels: No C#, Changes: Map

#117 medical hud from nyano
  Content.Client/Commands/ToggleHealthBarsCommand.cs
  Content.Client/EntityHealthBar/EntityHealthBarOverlay.cs
  Content.Client/EntityHealthBar/ShowHealthBarsSystem.cs
  Content.Shared/EntityHealthBar/ShowHealthBarsComponent.cs
  Content.Shared/SimpleStation14/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/SimpleStation14/Clothing/Systems/ClothingGrantingSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Textures/Interface/Misc/health_bar.rsi/icon.png
  Resources/Textures/Interface/Misc/health_bar.rsi/meta.json
  Resources/Textures/Interface/Misc/health_state.rsi/dead_state.png
  Resources/Textures/Interface/Misc/health_state.rsi/life_state.png
  Resources/Textures/Interface/Misc/health_state.rsi/meta.json
  Resources/Textures/Interface/Misc/health_state.rsi/sick_state.png
Labels: Changes: Sprites

#123 map Travertine update (hope it'l pas test now)
  Resources/Maps/travertine.yml
Labels: No C#, Changes: Map

#116 .35 magazine in uplink
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Status: Needs Review, No C#

#125 Travertine map update
  Resources/Maps/travertine.yml
Labels: No C#, Changes: Map

#126 Travertine map update
  Resources/Maps/travertine.yml
Labels: No C#, Changes: Map

#128 Added map Travertine & removed map Omega
  Resources/Maps/travertine.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/travertine.yml
Labels: No C#, Changes: Map

#129 Fix bruh moment
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#

#130 Travertine map update
  Resources/Maps/travertine.yml
Labels: No C#, Changes: Map

#127 vending machines can be broken
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#124 Главы вновь будут антагами (надеюсь)
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: No C#

#122 med-hud fix
  Content.Client/EntityHealthBar/EntityHealthBarOverlay.cs
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Textures/Interface/Misc/health_bar.rsi/icon.png
  Resources/Textures/Interface/Misc/health_bar.rsi/meta.json
Labels: Changes: Sprites

#131 Travertine map update
  Resources/Maps/travertine.yml
Labels: No C#, Changes: Map

#132 Added Mothroach
  Content.Server/StationEvents/Events/VentCritters.cs
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-livestock.ftl
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Voice/speech_sounds.yml
  Resources/Textures/Mobs/Animals/mothroach.rsi/0-equipped-HELMET.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/icon-0.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/meta.json
  Resources/Textures/Mobs/Animals/mothroach.rsi/mothroach.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/mothroach_dead.png
Labels: Changes: Sprites

#134 Travertin map update & Marble map removed
  Resources/Maps/marble.yml
  Resources/Maps/travertine.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/marble.yml
  Resources/Prototypes/Maps/travertine.yml
Labels: No C#, Changes: Map

#135 Mothroach speach fix
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Voice/speech_sounds.yml
Labels: No C#

#133 removed dublicated bloodpack
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack1.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack2.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack3.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack4.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack5.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack6.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/meta.json
Labels: Changes: Sprites

#139 new map Limestone
  Resources/Maps/limestone.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/limestone.yml
Labels: No C#, Changes: Map

#140 Limestone map update
  Resources/Maps/limestone.yml
  Resources/Prototypes/Maps/limestone.yml
Labels: No C#, Changes: Map

#142 Limestone map update
  Resources/Maps/limestone.yml
Labels: No C#, Changes: Map

#146 Travertine map update
  Resources/Maps/travertine.yml
Labels: No C#, Changes: Map

#144 .25 bullets from tg
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/base-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/hv.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/rubber.png
Labels: Changes: Sprites, No C#

#147 poster no-ero
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster34_legit.png
Labels: Changes: Sprites, No C#

#145 Localisation for unrobasts from reinforcement teleporter
  Resources/Prototypes/Datasets/Names/death_commando.yml
Labels: No C#

#141 Карабин на .25 для ядерных оперативников.
  Resources/Audio/Weapons/Guns/Gunshots/heavy_shot_suppressed.ogg
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/Objects/Weapons/Guns/Rifles/kr51.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/kr51.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/kr51.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/kr51.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/kr51.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/kr51.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/kr51.rsi/meta.json
Labels: Changes: Sprites, No C#
