Repository Workbench-Team/space-station-14, pull requests merged in 2023-05, with the labels that each got.

#149 .35 magazines visual fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
Labels: No C#

#150 Kr51 magazine fix
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: No C#

#151 remove BallisticAmmoProvider from shutgun shell boxes
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: No C#

#153 Flesh mobs ghost roles
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
Labels: No C#

#152 New map Limestone & Travertine map update
  Resources/Maps/limestone.yml
  Resources/Maps/travertine.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/limestone.yml
Labels: No C#, Changes: Map

#155 Translate upstream update
  Resources/Locale/ru-RU/rcd/components/rcd-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/arachnid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/arachnid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/salvage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/flesh.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/slimes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/space.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/arachnid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/arachnid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/condiments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/vapes/vape.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/bike_horn.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/ore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/bedsheets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/eggspider.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/randompill.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/tools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/antimateriel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/antimateriel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/antimateriel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/bonfire.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/statues.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/materialdoors/material_doors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/altar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/beds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/miners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/bananium.ftl
Labels: Status: Needs Review, No C#

#154 Syringe Gun
  Resources/Audio/Weapons/Guns/Gunshots/syringeproj.ogg
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/dartgun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/dartgun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/dartgun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/dartgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/dartgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/dartgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/dartgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/dartgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/dartgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Dartgun/Dartgun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Dartgun/Dartgun.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Dartgun/Dartgun.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Dartgun/Dartgun.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Dartgun/Dartgun.rsi/mag-4.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Dartgun/Dartgun.rsi/mag-5.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Dartgun/Dartgun.rsi/mag-6.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Dartgun/Dartgun.rsi/mag-7.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Dartgun/Dartgun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles2.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles2.rsi/syringeproj.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dartgun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dartgun.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dartgun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dartgun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dartgun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dartgun.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dartgun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/dnasyringegun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dnasyringegun.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dnasyringegun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dnasyringegun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dnasyringegun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dnasyringegun.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/dnasyringegun.rsi/meta.json
Labels: Status: Needs Review, Changes: Sprites, No C#

#156 Wizards moment fix
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#157 Квас: Возвращение
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/en-US/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/Structures/Storage/kvass.rsi/kvass.png
  Resources/Textures/Structures/Storage/kvass.rsi/meta.json
Labels: Changes: Sprites, No C#

#158 Travertine resave
  Resources/Maps/travertine.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/travertine.yml
Labels: No C#, Changes: Map

#160 Revert "Temporarily Cryopod fix. (#81)"
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
Labels: No C#

#163 Added Arumoon part into guidebook with corp law and introduction.
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/arumoon.yml
  Resources/ServerInfo/Guidebook/AruMoon/AruMoon.xml
  Resources/ServerInfo/Guidebook/AruMoon/SpaceLaw.xml
Labels: No C#

#166 modsuitback fix
  Resources/Prototypes/Entities/Clothing/Back/modsuitback.yml
Labels: No C#

#170 ERT actualization, deathsquad and CBRUN update
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/firstaidkits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/death_squad.png
  Resources/Textures/Markers/jobs.rsi/meta.json
Labels: Changes: Sprites, No C#

#173 Ньюки по времени
  Content.Client/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Roles/AntagPrototype.cs
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: UI

#174 Bwoink button to save my ears
  Content.Client/Administration/Managers/ClientAdminManager.cs
  Content.Client/Administration/Managers/IClientAdminManager.cs
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Resources/Locale/en-US/administration/ui/actions.ftl
  Resources/Locale/ru-RU/administration/ui/actions.ftl
Labels: Status: Needs Review, Changes: UI

#172 ня, пока
  Resources/Maps/limestone.yml
  Resources/Maps/travertine.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/limestone.yml
  Resources/Prototypes/Maps/travertine.yml
Labels: No C#, Changes: Map
