Repository Workbench-Team/space-station-14, pull requests merged in 2023-02, with the labels that each got.

#51 Translate tips
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#52 Update tips.yml
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#53 Update Singularity.xml
  Resources/Server Info/Guidebook/Singularity.xml
Labels: No C#

#54 Update Radio.xml
  Resources/Server Info/Guidebook/Controls/Radio.xml
Labels: No C#

#55 Nocap
  Resources/Prototypes/WorkbenchTeam/Entities/Objects/Fun/hmgsCap.yml
Labels: No C#

#56 Add Shaurma
  Resources/Locale/en-US/ss14-ru/prototypes/workbenchteam/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/workbenchteam/entities/objects/consumable/food/meat.ftl
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/WorkbenchTeam/Entities/Objects/Consumable/Food/meat.yml
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/meat.rsi/shaurma.png
Labels: Changes: Sprites, No C#

#60 Update human.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Labels: No C#

#66 Doors
  Content.Client/Access/UI/AccessReaderBoundUserInterface.cs
  Content.Client/Access/UI/AccessReaderWindow.xaml
  Content.Client/Access/UI/AccessReaderWindow.xaml.cs
  Content.Server/Access/Systems/AccessReaderUISystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/SharedAccessReader.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Doors/Components/AirlockComponent.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Resources/Locale/en-US/access/components/access-reader-component.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/electronics/door.ftl
  Resources/Locale/ru-RU/access/components/access-reader-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/door.ftl
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
Labels: Changes: UI

#68 Arriving assistant
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Labels: Changes: Sprites, Changes: Map, Changes: UI

#65 Таблетницы по 12 таблеток
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#67 Постер про всю суть СРП
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster57_contraband.png
Labels: Changes: Sprites, No C#

#74 Демилитаризация РнД
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#77 Remove weapon machinery tech
  Resources/Prototypes/Catalog/Research/technologies.yml
Labels: No C#

#76 Вместительность халатов/курток 10 ->15
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: No C#

#69 Sledgehammer
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/inhand_left.png
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/inhand_right.png
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/sledgehammer_weilded_inhand_left.png
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/sledgehammer_weilded_inhand_right.png
Labels: Changes: Sprites, No C#
