Repository Workbench-Team/space-station-14, pull requests merged in 2023-01, with the labels that each got.

#44 Ладно, теперь то всё работает?
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#

#28 Станция Организации "Merlin"
  Resources/Maps/CustomStation/merlin.yml
  Resources/Maps/CustomStation/merlingrid.yml
  Resources/Prototypes/Maps/Merlin.yml
Labels: No C#, Changes: Map

#47 Научные очки
  Content.Server/AruMoon/ReagentVisor/ReagentVisorComponent.cs
  Content.Server/AruMoon/ReagentVisor/ReagentVisorSystem.cs
  Content.Server/Chemistry/Components/SolutionManager/ExaminableSolutionComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Resources/Locale/en-US/clothing/components/science-goggles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/clothing/components/science-goggles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemdrobe.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/meta.json
Labels: Changes: Sprites

#46 Неполный перевод гайдбука от DjfjdfofdjfjD
  Resources/Server Info/Guidebook/Atmospherics.xml
  Resources/Server Info/Guidebook/Fires.xml
  Resources/Server Info/Guidebook/Jobs.xml
  Resources/Server Info/Guidebook/Power.xml
  Resources/Server Info/Guidebook/Science/MachineUpgrading.xml
  Resources/Server Info/Guidebook/Science/Science.xml
  Resources/Server Info/Guidebook/Shuttlecraft.xml
  Resources/Server Info/Guidebook/Space Station 14.xml
  Resources/Server Info/Guidebook/Survival.xml
Labels: Merge Conflict, No C#

#49 Локализация эмоутов на master-ru
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#

#34 Твики фелинидов
  Content.Server/AruMoon/WoundLicking/WoundLickingSystem.cs
  Content.Server/Flash/Components/FlashImmunityComponent.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Shared/Flash/FlashableComponent.cs
  Resources/Locale/en-US/markings/felinid.ftl
  Resources/Locale/ru-RU/markings/felinid.ftl
  Resources/Prototypes/Actions/felinid.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Species/felinid.yml
  Resources/Textures/Mobs/Customization/felinid.rsi/meta.json
  Resources/Textures/Mobs/Customization/felinid.rsi/tail_resprite.png
Labels: Changes: Sprites

#50 Ассистент гейминг
  Resources/Locale/en-US/advertisements/vending/cargodrobe.ftl
  Resources/Locale/en-US/barsign/barsign-component.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/ears/specific.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/bar_sign.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/specific.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Server Info/Guidebook/Jobs.xml
  Resources/Textures/Interface/Misc/job_icons.rsi/Passenger.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idpassenger.png
Labels: Changes: Sprites, No C#
