Repository Workbench-Team/space-station-14, pull requests merged in 2023-08, with the labels that each got.

#209 Extractable items for Ghetto Chemistry
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Specific/atmos.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
Labels: No C#

#211 Ghetto chemistry fix uh oh
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
Labels: No C#

#212 Some changes for "big salvage and miners update #208." v2
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/salvage.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/salvage.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Objects/Specific/Mining/ore_bag_bluespace.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_bluespace.rsi/icon-unlit.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_bluespace.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_bluespace.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_bluespace.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/bullet_cutter.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/bullet_cutter.rsi/meta.json
Labels: Changes: Sprites, No C#

#214 Кнопка в правилах
  Content.Client/Info/RulesManager.cs
  Content.Client/Info/RulesPopup.xaml
  Content.Client/Info/RulesPopup.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/info/rules.ftl
  Resources/Locale/ru-RU/info/rules.ftl
  Resources/ServerInfo/LRP_RulesAruMoon.txt
Labels: Changes: UI

#215 "Donk Co." Update!
  Resources/Locale/en-US/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Mobs/Animals/gondola.rsi/gondola.png
  Resources/Textures/Mobs/Animals/gondola.rsi/gondola_dead.png
  Resources/Textures/Mobs/Animals/gondola.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/meat.rsi/gondola.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
Labels: Changes: Sprites, No C#

#217 Поздняя доставка кнопки вне showrules
  Content.Client/Info/RulesLinksSection.xaml
  Content.Client/Info/RulesLinksSection.xaml.cs
Labels: Changes: UI

#216 Chrono Legionnaire items
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Textures/Clothing/Hands/Gloves/chronogloves.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/chronogloves.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/chronogloves.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/chronolegionnaire.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/chronolegionnaire.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/chronolegionnaire.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/chronolegionnaire.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/chronolegionnaire.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/chronolegionnaire.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/chronolegionnaire.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/chronoboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/chronoboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/chronoboots.rsi/meta.json
Labels: Status: Needs Review, Changes: Sprites, No C#

#219 head garment bag
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/garment_bag.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Misc/garment.yml
  Resources/Textures/Objects/Storage/Briefcases/garment_bag.rsi/icon.png
  Resources/Textures/Objects/Storage/Briefcases/garment_bag.rsi/inhand-left.png
  Resources/Textures/Objects/Storage/Briefcases/garment_bag.rsi/inhand-right.png
  Resources/Textures/Objects/Storage/Briefcases/garment_bag.rsi/meta.json
Labels: Changes: Sprites, No C#

#220 Chem dispenser Upgradability
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Content.Shared/Chemistry/Dispenser/ReagentDispenserInventoryTieredPrototype.cs
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
Labels: Changes: UI

#221 cargo teg
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Textures/Structures/Power/Generation/teg.rsi/icon_circ.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/icon_mid.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/meta.json
Labels: Changes: Sprites, No C#

#225 sledgehammer fix (finally)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#223 Deathsquad spawn
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/firstaidkits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Markers/jobs.rsi/death_squad.png
  Resources/Textures/Markers/jobs.rsi/meta.json
Labels: Changes: Sprites, No C#

#227 update kill objective locale
  Resources/Locale/ru-RU/objectives/conditions/kill-person-condition.ftl
Labels: No C#

#226 Return lead to batteries
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
Labels: No C#

#228 no more reflect
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: No C#

#230 Centcom intern
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Clothing/Head/Hats/centcomcap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Head/Hats/centcomcap.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/centcomcap.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/centcomcap.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/centcominterncap.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/centcominterncap.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/centcominterncap.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/centcominterncap.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/centcominterncap.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_intern.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_intern.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_intern.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_intern.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_intern.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/baton.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/baton.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/baton.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/baton.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/baton.rsi/meta.json
Labels: Changes: Sprites, No C#

#232 New craftable weapon: Emitter Cannon
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/emitter_cannon.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/idle.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/inhand-left-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/inhand-left-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/inhand-left-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/inhand-left-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/inhand-right-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/inhand-right-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/inhand-right-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/inhand-right-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/emitter_cannon.rsi/meta.json
Labels: Changes: Sprites, No C#

#231 mechanoids
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/mechs_locale.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/mech_locale.ftl
  Resources/Prototypes/Entities/Mobs/mechs.yml
  Resources/Prototypes/Entities/Objects/Weapons/mech.yml
Labels: No C#
