Repository Workbench-Team/space-station-14, pull requests merged in 2023-09, with the labels that each got.

#233 Explosion package
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/bombs/plastic.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/plastic.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Textures/Objects/Weapons/Bombs/explosion_package.rsi/icon.png
  Resources/Textures/Objects/Weapons/Bombs/explosion_package.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/explosion_package.rsi/primed.png
Labels: Changes: Sprites, No C#

#235 Mechanoids rebalance
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/mechs_locale.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/mech_locale.ftl
  Resources/Prototypes/Entities/Mobs/mechs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/mech.yml
Labels: No C#

#236 Change mechanoids rules
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
Labels: No C#

#237 Revert Instagibber5000
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
Labels: No C#

#239 nukie buff
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#243 clarkest
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mech_construction.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/mech_locale.ftl
  Resources/Prototypes/Entities/Mobs/mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mech_construction.yml
  Resources/Prototypes/Entities/Objects/Weapons/mech.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/clarke_construction.yml
  Resources/Prototypes/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark1.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark10.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark11.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark12.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark2.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark3.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark4.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark5.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark6.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark7.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark8.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/Clark9.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark0.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_chassis.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_harness+o.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_harness.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_l_arm+o.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_l_arm.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_l_leg+o.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_l_leg.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_r_arm+o.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_r_arm.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_r_leg+o.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/clark_r_leg.png
  Resources/Textures/Objects/Specific/Mech/clarke_construction.rsi/meta.json
Labels: Changes: Sprites, No C#

#246 Slime preson resprite
  Resources/Textures/Mobs/Species/Slime/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/torso_m.png
Labels: Changes: Sprites, No C#

#247 chemestry quality of life
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/injectorscase-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/injectorscase-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/injectorscase.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/ambuzol.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/ambuzol_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/ambuzolplus.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/ambuzolplus_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/selfmade.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/selfmade_empty.png
Labels: Changes: Sprites, No C#

#249 nuke ops ammunition
  Resources/Audio/Items/weaponcase.ogg
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/SoundCollections/weaponcase_open.yml
  Resources/Textures/Objects/Storage/Briefcases/weapon_case_syndie.rsi/icon.png
  Resources/Textures/Objects/Storage/Briefcases/weapon_case_syndie.rsi/inhand-left.png
  Resources/Textures/Objects/Storage/Briefcases/weapon_case_syndie.rsi/inhand-right.png
  Resources/Textures/Objects/Storage/Briefcases/weapon_case_syndie.rsi/meta.json
Labels: Changes: Sprites, No C#

#250 some stun nerfs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: No C#

#254 Bluespace orebags fix
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
Labels: No C#

#252 Кошки теперь милее
  Resources/Prototypes/Entities/Mobs/Species/felinid.yml
Labels: No C#

#255 Mech weapons tweak
  Resources/Prototypes/Entities/Mobs/mechs.yml
  Resources/Prototypes/Entities/Objects/Weapons/mech.yml
Labels: No C#

#260 BS fixes
  Resources/Prototypes/Roles/Jobs/Command/blueshield.yml
  Resources/Textures/Objects/Weapons/Guns/Rifles/ash9.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/ash9.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/ash9.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/ash9.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/ash9.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/ash9.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/ash9.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/ash9.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/saiga.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/saiga.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/saiga.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/saiga.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/saiga.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/saiga.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/saiga.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/saiga.rsi/meta.json
Labels: Changes: Sprites, No C#

#259 felenids-make-meow.ogg
  Resources/Audio/Voice/Felinid/felinidlaugh1.ogg
  Resources/Audio/Voice/Felinid/felinidlaugh2.ogg
  Resources/Audio/Voice/Felinid/felinidlaugh3.ogg
  Resources/Audio/Voice/Felinid/felinidlaugh4.ogg
  Resources/Audio/Voice/Felinid/felinidmeow1.ogg
  Resources/Audio/Voice/Felinid/felinidmeow2.ogg
  Resources/Audio/Voice/Felinid/felinidscream.ogg
  Resources/Audio/Voice/Felinid/license.txt
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Prototypes/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_verbs.yml
Labels: No C#

#261 Mass media tablet
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/tablets/tablets.ftl
  Resources/Prototypes/Entities/Objects/Specific/Tablets/cargo_pda.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Textures/Objects/Specific/Tablets/mm.rsi/icon.png
  Resources/Textures/Objects/Specific/Tablets/mm.rsi/meta.json
Labels: Changes: Sprites, No C#

#262 Metal pipe
  Resources/Audio/Effects/metal-pipe-falling.ogg
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sledgehammer.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/metalpipe.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Textures/Objects/Weapons/Melee/metalpipe.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/metalpipe.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/metalpipe.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/metalpipe.rsi/meta.json
Labels: Changes: Sprites, No C#

#265 Revert "felenids-make-meow.ogg (#259)"
  Resources/Audio/Voice/Felinid/felinidlaugh1.ogg
  Resources/Audio/Voice/Felinid/felinidlaugh2.ogg
  Resources/Audio/Voice/Felinid/felinidlaugh3.ogg
  Resources/Audio/Voice/Felinid/felinidlaugh4.ogg
  Resources/Audio/Voice/Felinid/felinidmeow1.ogg
  Resources/Audio/Voice/Felinid/felinidmeow2.ogg
  Resources/Audio/Voice/Felinid/felinidscream.ogg
  Resources/Audio/Voice/Felinid/license.txt
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Prototypes/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_verbs.yml
Labels: Status: Needs Review, No C#

#269 Small fix and rad injector craft
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#271 HoS gun
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/inhand-left-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/inhand-left-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/inhand-left-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/inhand-left-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/inhand-right-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/inhand-right-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/inhand-right-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/inhand-right-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/hoslasergun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/redtrac.png
Labels: Changes: Sprites, No C#

#272 Driller station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/driller.yml
  Resources/Prototypes/Maps/Driller.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map
