Repository Workbench-Team/space-station-14, pull requests merged in 2023-10, with the labels that each got.

#276 Driller station update №1
  Resources/Maps/driller.yml
  Resources/Prototypes/Maps/Driller.yml
Labels: No C#, Changes: Map

#278 Rd suit fix
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#277 New bows
  Resources/Audio/Weapons/Guns/Gunshots/bowshot.ogg
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/quiver.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/bow/bow.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/arrows.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Belt/quiver.yml
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/arrowexplosive.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/arrowexplosivec4.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/arrowc4.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/arrowcompound.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/arrowexplosive.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/unwielded-arrowc4.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/unwielded-arrowcompound.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/unwielded-arrowexplosive.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/unwielded.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/unwieldedred.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/wielded-arrowc4.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/wielded-arrowcompound.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/wielded-arrowexplosive.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/wielded.png
  Resources/Textures/Objects/Weapons/Guns/Bow/compoundbow.rsi/wieldedred.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/arrowscomp.rsi/arrowcompound-c4.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/arrowscomp.rsi/arrowcompound-explosion.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/arrowscomp.rsi/arrowcompound.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/arrowscomp.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/arrowscomp.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/arrowscomp.rsi/meta.json
Labels: Changes: Sprites, No C#

#279 Driller station Update 6
  Resources/Maps/driller.yml
  Resources/Prototypes/Maps/Driller.yml
Labels: No C#, Changes: Map

#275 Pipe changes
  Resources/Audio/Weapons/bat_hit.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
Labels: No C#

#283 Driller station update 7
  Resources/Maps/driller.yml
Labels: No C#, Changes: Map

#267 RD new tools
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pinpointer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/Objects/Devices/pinpointer.rsi/pinpointer_anomaly.png
  Resources/Textures/Objects/Specific/Research/anomalyscanner.rsi/meta.json
  Resources/Textures/Objects/Specific/Research/anomalyscanner.rsi/rd.png
  Resources/Textures/Objects/Storage/Briefcases/rd_case.rsi/icon.png
  Resources/Textures/Objects/Storage/Briefcases/rd_case.rsi/inhand-left.png
  Resources/Textures/Objects/Storage/Briefcases/rd_case.rsi/inhand-right.png
  Resources/Textures/Objects/Storage/Briefcases/rd_case.rsi/meta.json
Labels: Changes: Sprites, No C#

#287 Security glasses now has HUD that shows job
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/StatusEffects/job.yml
Labels: No C#

#288 Chainsaw upgrade part 1
  Content.Server/Weapons/Melee/chainsaw/ChainsawComponent.cs
  Content.Server/Weapons/Melee/chainsaw/ChainsawSystem.cs
  Resources/Audio/Weapons/chainsaw_hit.ogg
  Resources/Audio/Weapons/chainsaw_loop.ogg
  Resources/Audio/Weapons/chainsawhit.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/icon_wielded.png
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/inhand-left-wielded.png
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/inhand-right-wielded.png
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/wielded-inhand-right.png
Labels: Changes: Sprites

#289 Driller station update 9
  Resources/Maps/driller.yml
Labels: No C#, Changes: Map

#290 TA timer
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
Labels: No C#

#291 Important fix for PR: ( "Donk Co." Update! #215 )
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#284 Ножи теперь можно кидать
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: No C#

#294 Driller update 9.1
  Resources/Maps/driller.yml
Labels: No C#, Changes: Map

#297 aspid 0-35
  Resources/Prototypes/Maps/aspid.yml
Labels: No C#, Changes: Map

#303 Driller station
  Resources/Maps/driller.yml
Labels: No C#, Changes: Map
