Repository Workbench-Team/space-station-14, pull requests merged in 2023-03, with the labels that each got.

#78 Hypospray cooldown remove
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: No C#

#80 Nerf sledgehammer&fix textures
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/weilded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/sledgehammer.rsi/weilded-inhand-right.png
Labels: Changes: Sprites, No C#

#71 Colored markings for felinids
  Resources/Prototypes/Entities/Mobs/Customization/Markings/felinid.yml
Labels: No C#

#81 Temporarily cryopod fix, until full fix is done
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
Labels: Changes: Sprites, Changes: Map, Changes: UI

#82 Added new map Marble
  Resources/Maps/marble.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/marble.yml
Labels: No C#, Changes: Map

#84 Wall Weapon Capacitor Recharger Fix
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: No C#

#86 Updated map Marble
  Resources/Maps/marble.yml
Labels: No C#, Changes: Map

#87 Moths Nerf and Rot Fix
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: No C#

#88 Updated map Marble
  Resources/Maps/marble.yml
Labels: No C#, Changes: Map

#79 РеМилитаризация R&D
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#89 Локализация, но руки были мои
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#

#91 no way, syndieborg
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/syndieborg_teleporter.yml
  Resources/Textures/Objects/Specific/Borgs/syndieborg.rsi/meta.json
  Resources/Textures/Objects/Specific/Borgs/syndieborg.rsi/syndieborg-broken.png
  Resources/Textures/Objects/Specific/Borgs/syndieborg.rsi/syndieborg.png
Labels: Status: Needs Review, Changes: Sprites, No C#

#94 Updated map Marble
  Resources/Maps/marble.yml
Labels: No C#, Changes: Map

#95 Updated map Marble
  Resources/Maps/marble.yml
Labels: No C#, Changes: Map

#93 Captains jetpack change
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: No C#

#96 Updated map Marble
  Resources/Maps/marble.yml
Labels: No C#, Changes: Map

#97 Updated map Marble
  Resources/Maps/marble.yml
Labels: No C#, Changes: Map

#99 Add Marble map to Aru Moon server
  Resources/Maps/marble.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/marble.yml
Labels: No C#, Changes: Map

#100 Translate Botany guidebook
  Resources/Server Info/Guidebook/Botany.xml
Labels: No C#

#103 SecTechFab fix
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#105 Fix door access checks (TODO: make special storage for it)
  Content.Client/Access/UI/AccessReaderBoundUserInterface.cs
  Content.Client/Access/UI/AccessReaderWindow.xaml
  Content.Client/Access/UI/AccessReaderWindow.xaml.cs
  Content.Server/Access/Systems/AccessReaderUISystem.cs
  Content.Server/Remotes/DoorRemoteSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/SharedAccessReader.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Resources/Locale/en-US/access/components/access-reader-component.ftl
  Resources/Locale/ru-RU/access/components/access-reader-component.ftl
Labels: Changes: UI

#104 Added .35 uranium
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/pistol.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#106 Bullets resprite
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/base-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/hv.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/caseless.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/base-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/hv.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/magnum.rsi/base-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/magnum.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/magnum.rsi/hv.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/magnum.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/magnum.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/magnum.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/base-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/hv.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/rifle.rsi/base-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/rifle.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/rifle.rsi/hv.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/rifle.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/rifle.rsi/rubber.png
Labels: Changes: Sprites, No C#

#109 .30 and .35 ammo casing resprite (again)
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/base-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/hv.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/light_rifle.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/base-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/hv.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/pistol.rsi/uranium.png
Labels: Changes: Sprites, No C#

#111 Translated books???
  Resources/Locale/ru-RU/paper/book-atmos.ftl
  Resources/Locale/ru-RU/paper/book-escalation.ftl
  Resources/Locale/ru-RU/paper/book-gaming.ftl
  Resources/Locale/ru-RU/paper/book-salvage.ftl
  Resources/Locale/ru-RU/paper/paper-misc.ftl
Labels: No C#

#110 Added blood pack
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack1.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack2.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack3.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack4.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack5.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/bloodpack6.png
  Resources/Textures/Objects/Specific/Chemistry/blood_pack.rsi/meta.json
Labels: Changes: Sprites

#113 Updated map Marble
  Resources/Maps/marble.yml
Labels: No C#, Changes: Map
