Repository Workbench-Team/space-station-14, pull requests merged in 2024-06, with the labels that each got.

#352 RD, CE cloak & Cap crown
  Resources/Locale/ru-RU/starshine/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/starshine/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Prototypes/Entities/Objects/Misc/garment.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Starshine/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Starshine/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Starshine/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/Starshine/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Starshine/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Starshine/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Starshine/Loadouts/Jobs/Security/security_officer.yml
  Resources/Textures/Starshine/Clothing/Neck/Cloaks/cealt.rsi/equipped-NECK.png
  Resources/Textures/Starshine/Clothing/Neck/Cloaks/cealt.rsi/icon.png
  Resources/Textures/Starshine/Clothing/Neck/Cloaks/cealt.rsi/inhand-left.png
  Resources/Textures/Starshine/Clothing/Neck/Cloaks/cealt.rsi/inhand-right.png
  Resources/Textures/Starshine/Clothing/Neck/Cloaks/cealt.rsi/meta.json
  Resources/Textures/Starshine/Clothing/Neck/Cloaks/rdalt.rsi/equipped-NECK.png
  Resources/Textures/Starshine/Clothing/Neck/Cloaks/rdalt.rsi/icon.png
  Resources/Textures/Starshine/Clothing/Neck/Cloaks/rdalt.rsi/inhand-left.png
  Resources/Textures/Starshine/Clothing/Neck/Cloaks/rdalt.rsi/inhand-right.png
  Resources/Textures/Starshine/Clothing/Neck/Cloaks/rdalt.rsi/meta.json
Labels: Changes: Sprites, No C#

#357 Drinks cartons fix and weh & buzz update
  Resources/Locale/ru-RU/starshine/ss14-ru/entities/objects/consumable/drinks-cartons.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Starshine/Reagents/fun.yml
Labels: No C#

#359 Tehtra up-update
  Resources/Maps/Shuttles/emergency_tehtra.yml
  Resources/Maps/tehtra.yml
  Resources/Prototypes/Maps/tehtra.yml
Labels: No C#, Changes: Map

#371 Xeno Hunter
  Resources/Locale/ru-RU/starshine/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/starshine/ss14-ru/prototypes/entities/mobs/npcs/regalrat.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Starshine/Entities/Mobs/NPCs/xenomorph.yml
  Resources/Prototypes/Starshine/Entities/Spawners/ghost_roles.yml
  Resources/Textures/Starshine/Mobs/Aliens/Xeno/hunter.rsi/crit.png
  Resources/Textures/Starshine/Mobs/Aliens/Xeno/hunter.rsi/dead.png
  Resources/Textures/Starshine/Mobs/Aliens/Xeno/hunter.rsi/meta.json
  Resources/Textures/Starshine/Mobs/Aliens/Xeno/hunter.rsi/running.png
  Resources/Textures/Starshine/Mobs/Aliens/Xeno/hunter.rsi/sleeping.png
  Resources/Textures/Starshine/Mobs/Aliens/Xeno/hunter.rsi/walking.png
Labels: Changes: Sprites, No C#

#367 Tehtra upstream
  Resources/Maps/tehtra.yml
Labels: No C#, Changes: Map

#372 Revert "Apc & Substation resprite"
  Content.Client/Power/APC/ApcVisualizerComponent.cs
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Textures/Structures/Power/apc.rsi/base.png
  Resources/Textures/Structures/Power/apc.rsi/broken.png
  Resources/Textures/Structures/Power/apc.rsi/channel0-auto_off.png
  Resources/Textures/Structures/Power/apc.rsi/channel0-auto_on.png
  Resources/Textures/Structures/Power/apc.rsi/channel0-manual_off.png
  Resources/Textures/Structures/Power/apc.rsi/channel0-manual_on.png
  Resources/Textures/Structures/Power/apc.rsi/channel1-auto_off.png
  Resources/Textures/Structures/Power/apc.rsi/channel1-auto_on.png
  Resources/Textures/Structures/Power/apc.rsi/channel1-manual_off.png
  Resources/Textures/Structures/Power/apc.rsi/channel1-manual_on.png
  Resources/Textures/Structures/Power/apc.rsi/channel2-auto_off.png
  Resources/Textures/Structures/Power/apc.rsi/channel2-auto_on.png
  Resources/Textures/Structures/Power/apc.rsi/channel2-manual_off.png
  Resources/Textures/Structures/Power/apc.rsi/channel2-manual_on.png
  Resources/Textures/Structures/Power/apc.rsi/display-charging.png
  Resources/Textures/Structures/Power/apc.rsi/display-full.png
  Resources/Textures/Structures/Power/apc.rsi/display-lack.png
  Resources/Textures/Structures/Power/apc.rsi/display-remote.png
  Resources/Textures/Structures/Power/apc.rsi/emag-unlit.png
  Resources/Textures/Structures/Power/apc.rsi/frame.png
  Resources/Textures/Structures/Power/apc.rsi/lock0-locked.png
  Resources/Textures/Structures/Power/apc.rsi/lock0-unlocked.png
  Resources/Textures/Structures/Power/apc.rsi/lock1-locked.png
  Resources/Textures/Structures/Power/apc.rsi/lock1-unlocked.png
  Resources/Textures/Structures/Power/apc.rsi/meta.json
  Resources/Textures/Structures/Power/apc.rsi/panel.png
  Resources/Textures/Structures/Power/apc.rsi/static.png
  Resources/Textures/Structures/Power/substation.rsi/charging.png
  Resources/Textures/Structures/Power/substation.rsi/dead.png
  Resources/Textures/Structures/Power/substation.rsi/full.png
  Resources/Textures/Structures/Power/substation.rsi/meta.json
  Resources/Textures/Structures/Power/substation.rsi/screen.png
  Resources/Textures/Structures/Power/substation.rsi/screen_wall.png
  Resources/Textures/Structures/Power/substation.rsi/substation.png
  Resources/Textures/Structures/Power/substation.rsi/substation_static.png
  Resources/Textures/Structures/Power/substation.rsi/substation_wall.png
  Resources/Textures/Structures/Power/substation.rsi/substation_wall_static.png
Labels: Changes: Sprites

#363 Nerf buzz and weh juice
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Starshine/Reagents/fun.yml
Labels: No C#

#373 fix ELstation
  Resources/Maps/elstation.yml
  Resources/Prototypes/Maps/elstation.yml
Labels: No C#, Changes: Map

#369 Some food (By GreedL)
  Resources/Locale/ru-RU/starshine/ss14-ru/entities/objects/consumable/food/baked/cake.ftl
  Resources/Locale/ru-RU/starshine/ss14-ru/entities/objects/consumable/food/baked/misc.ftl
  Resources/Locale/ru-RU/starshine/ss14-ru/entities/objects/consumable/food/baked/pie.ftl
  Resources/Locale/ru-RU/starshine/ss14-ru/entities/objects/consumable/food/burger.ftl
  Resources/Locale/ru-RU/starshine/ss14-ru/entities/objects/consumable/food/soup.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_whole.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Starshine/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Starshine/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Starshine/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Starshine/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Starshine/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Starshine/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Starshine/Recipes/Cooking/medical_recipes.yml
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/honeypie.rsi/honeypie-slice.png
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/honeypie.rsi/honeypie.png
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/honeypie.rsi/meta.json
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/mothroachroast.rsi/meta.json
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/mothroachroast.rsi/mothroachroast.png
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/pumpkinpie.rsi/meta.json
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/pumpkinpie.rsi/pumpkinpie-slice.png
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/pumpkinpie.rsi/pumpkinpie.png
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/tofupie.rsi/meta.json
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/tofupie.rsi/tofupie-slice.png
  Resources/Textures/Starshine/Objects/Consumable/Food/Baked/tofupie.rsi/tofupie.png
  Resources/Textures/Starshine/Objects/Consumable/Food/mashedpotatoes.rsi/mashedpotatoes.png
  Resources/Textures/Starshine/Objects/Consumable/Food/mashedpotatoes.rsi/meta.json
  Resources/Textures/Starshine/Objects/Consumable/Food/plov.rsi/meta.json
  Resources/Textures/Starshine/Objects/Consumable/Food/plov.rsi/plov.png
  Resources/Textures/Starshine/Objects/Consumable/Food/sandwich.rsi/cheesesandwich.png
  Resources/Textures/Starshine/Objects/Consumable/Food/sandwich.rsi/meta.json
  Resources/Textures/Starshine/Objects/Consumable/Food/sandwich.rsi/sandwich.png
Labels: Changes: Sprites, No C#
