Repository Workbench-Team/space-station-14, pull requests merged in 2024-05, with the labels that each got.

#338 Lighthouse updatr 5
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#341 Tehtra Station return
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/tehtra.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/tehtra.yml
  Resources/map_attributions.txt
Labels: Changes: Map

#344 CMO Handheld Crew Monitor Resprite
  Resources/Textures/Objects/Specific/Medical/handheldcrewmonitor.rsi/icon.png
  Resources/Textures/Objects/Specific/Medical/handheldcrewmonitor.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/handheldcrewmonitor.rsi/scanner.png
Labels: Changes: Sprites, No C#

#347 Nukie War Declarator Resprite
  Resources/Textures/Objects/Devices/declaration_of_war.rsi/declarator.png
Labels: Changes: Sprites, No C#

#346 Radio Jammer Resprite
  Resources/Textures/Objects/Devices/jammer.rsi/jammer.png
  Resources/Textures/Objects/Devices/jammer.rsi/jammer_high_charge.png
  Resources/Textures/Objects/Devices/jammer.rsi/jammer_low_charge.png
  Resources/Textures/Objects/Devices/jammer.rsi/jammer_medium_charge.png
Labels: Changes: Sprites, No C#

#345 GPS resprite
  Resources/Textures/Objects/Devices/gps.rsi/active.png
  Resources/Textures/Objects/Devices/gps.rsi/icon.png
Labels: Changes: Sprites, No C#

#348 Toxin Icon Tweak + Translate
  Resources/Textures/Objects/Devices/health_analyzer.rsi/toxin.png
Labels: Changes: Sprites, No C#

#343 Drinks cartons return
  Resources/Locale/en-US/starshine/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/starshine/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks-cartons.ftl
  Resources/Locale/ru-RU/starshine/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/starshine/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/starshine/ss14-ru/entities/objects/consumable/drinks-cartons.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Starshine/Entities/Objects/Consumable/drinks-cartons.yml
  Resources/Prototypes/Starshine/Flavors/flavors.yml
  Resources/Prototypes/Starshine/Reagents/fun.yml
  Resources/Prototypes/Starshine/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/icon.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/icon_open.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-apple.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-banana.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-berry.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-carrot.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-catdespair.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-lemon.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-moff.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-orange.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-pineapple.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-sec.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-syndi.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-watermelon.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/label-weh.png
  Resources/Textures/Starshine/Objects/Consumable/Drinks/cardboardjuiceboxes.rsi/meta.json
Labels: Changes: Sprites, No C#
