Repository Workbench-Team/space-station-14, pull requests merged in 2025-02, with the labels that each got.

#387 Огнетушитель теперь можно пролить!
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#393 Исправление бага с шахтёрской бронёй.
  Resources/Prototypes/Starshine/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: No C#, size/S

#391 Радио!
  Resources/Locale/ru-RU/jukebox/jukebox-menu.ftl
  Resources/Locale/ru-RU/starshine/ss14-ru/prototypes/entities/objects/devices/electronics/radio.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Starshine/Entities/Objects/Devices/Electronics/radio.yml
  Resources/Prototypes/Starshine/Recipes/Construction/Graphs/devices/Electronics/radio.yml
  Resources/Prototypes/Starshine/Recipes/Construction/devices.yml
  Resources/Prototypes/Starshine/tags.yml
Labels: S: Untriaged, Changes: No C#, size/M

#390 [PORT] Map loader (2 попытка)
  Content.Server/Starshine/AdditionalMap/StationAdditionalMapComponent.cs
  Content.Server/Starshine/AdditionalMap/StationAdditionalMapSystem.cs
Labels: S: Untriaged, size/S
